
.heading{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.heaing h1{
    font-size:40px ;
    font-weight: 600;
    color:aquamarine
}

.heading .underline{
    width: 50px;
    height: 4px;
    background-color: aquamarine;
    margin-top: -10px;
}

.heading p{
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(21, 214, 198);
}